[project]
name = "dani2442-code"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "ipykernel>=7.1.0",
    "matplotlib>=3.10.7",
    "numpy>=2.3.4",
    "tensorly[dev]>=0.9.0",
    "torch>=2.9.0",
]
